In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

# Advances in Financial Machine Learning
Exercises with binpan.

In [2]:
from binpan import binpan
from binpan import handlers
import pandas as pd
import numpy as np

from handlers.aggregations import *
from handlers.stat_tests import *

In [3]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 320)
pd.set_option('display.min_rows', 20)
pd.set_option('display.max_rows', 100)

## Time Bars

In [4]:
sym = binpan.Symbol(symbol='ltcbtc', tick_interval='1m', time_zone='Europe/Madrid', from_redis=True, from_redis_agg_trades=True, from_redis_atomic_trades=True, limit = 10000)

In [5]:
sym.df

                                     Open time      Open      High       Low     Close   Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-03-10 20:50:00+01:00  2023-03-10 20:50:00  0.003572  0.003572  0.003569  0.003570   11.210  2023-03-10 20:50:59      0.040037      18                  0.126                0.000450       0   1678477800000    1678477859999
2023-03-10 20:51:00+01:00  2023-03-10 20:51:00  0.003570  0.003573  0.003570  0.003573   21.414  2023-03-10 20:51:59      0.076478      15                 15.821                0.056505       0   1678477860000    1678477919999
2023-03-10 20:52:00+01:00  2023-03-10 20:52:00  0.003573  0.003578  0.003573  0.003578   24.821  2023-03-10 20:52:59      0.088759      32                 18.791                0.067212       0   1678477920000    1678477979999
2023-03-10 20:53:00+01:00  2023-03-10 20:53:00  0.003578  0.003579  0.003577  0.003577  147.902  2023-03-10 20:53:59      0.529289      39                120.228                0.430272       0   1678477980000    1678478039999
2023-03-10 20:54:00+01:00  2023-03-10 20:54:00  0.003576  0.003577  0.003574  0.003577   41.151  2023-03-10 20:54:59      0.147120      33                 22.180                0.079297       0   1678478040000    1678478099999
...                                        ...       ...       ...       ...       ...      ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2023-03-17 19:24:00+01:00  2023-03-17 19:24:00  0.003091  0.003091  0.003090  0.003090    9.260  2023-03-17 19:24:59      0.028615       7                  8.375                0.025880       0   1679077440000    1679077499999
2023-03-17 19:25:00+01:00  2023-03-17 19:25:00  0.003090  0.003092  0.003090  0.003092   30.447  2023-03-17 19:25:59      0.094086      10                 19.525                0.060334       0   1679077500000    1679077559999
2023-03-17 19:26:00+01:00  2023-03-17 19:26:00  0.003093  0.003094  0.003093  0.003094    2.373  2023-03-17 19:26:59      0.007340       8                  1.992                0.006161       0   1679077560000    1679077619999
2023-03-17 19:27:00+01:00  2023-03-17 19:27:00  0.003093  0.003093  0.003091  0.003092   22.859  2023-03-17 19:27:59      0.070682      16                  4.185                0.012940       0   1679077620000    1679077679999
2023-03-17 19:28:00+01:00  2023-03-17 19:28:00  0.003092  0.003093  0.003092  0.003093   12.302  2023-03-17 19:28:59      0.038043       9                  7.051                0.021802       0   1679077680000    1679077739999

[9999 rows x 14 columns]

In [6]:
# sym.plot()

In [7]:
# sym.get_agg_trades()

In [8]:
sym.get_atomic_trades()

Requesting atomic trades between 2023-03-10 20:49:52 and 2023-03-17 19:29:53

2023-03-17	 19:29:53     INFO Fetching atomic trades from redis server for LTCBTC
2023-03-17	 19:30:04     INFO Clean atomic 362010 trades found for LTCBTC

                                  Trade Id     Price  Quantity  Buyer Order Id  Seller Order Id                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-03-10 20:50:14.486000+01:00  89087896  0.003572     0.699      1047574495       1047574587  2023-03-10 20:50:14  1678477814486             True              True
2023-03-10 20:50:14.701000+01:00  89087897  0.003572     1.301      1047574495       1047574588  2023-03-10 20:50:14  1678477814701             True              True
2023-03-10 20:50:14.882000+01:00  89087898  0.003572     5.904      1047574592       1047574593  2023-03-10 20:50:14  1678477814882             True              True
2023-03-10 20:50:19.358000+01:00  89087899  0.003572     0.324      1047574592       1047574610  2023-03-10 20:50:19  1678477819358             True              True
2023-03-10 20:50:28.124000+01:00  89087900  0.003571     0.064      1047574424       1047574642  2023-03-10 20:50:28  1678477828124             True              True
...                                    ...       ...       ...             ...              ...                  ...            ...              ...               ...
2023-03-17 19:28:14.862000+01:00  89449901  0.003092     1.094      1052929326       1052929338  2023-03-17 19:28:14  1679077694862             True              True
2023-03-17 19:28:18.324000+01:00  89449902  0.003093     3.344      1052929386       1052929390  2023-03-17 19:28:18  1679077698324             True              True
2023-03-17 19:28:54.753000+01:00  89449903  0.003093     0.605      1052929567       1052929556  2023-03-17 19:28:54  1679077734753            False              True
2023-03-17 19:28:54.935000+01:00  89449904  0.003093     0.223      1052929568       1052929556  2023-03-17 19:28:54  1679077734935            False              True
2023-03-17 19:29:13.970000+01:00  89449905  0.003093     1.008      1052929696       1052929648  2023-03-17 19:29:13  1679077753970            False              True

[362010 rows x 9 columns]

In [9]:
# sym.plot_atomic_trades_size()

In [10]:
# sym.plot_agg_trades_size()

In [11]:
# sym.plot_market_profile(from_agg_trades=True)

In [12]:
# sym.plot_market_profile(from_atomic_trades=True)

# Chapter 2: Financial Data Structures

In [13]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 320)
pd.set_option('display.min_rows', 10)
pd.set_option('display.max_rows', 100)

## Tick Bars
Barras agrupadas por una cantidad fija de atomic trades.

In [14]:
trades = sym.atomic_trades

In [15]:
tb = tick_bars(trades, 4)
tb

                                      Open      High       Low     Close      Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume
Timestamp
2023-03-10 20:50:14.486000+01:00  0.003572  0.003572  0.003572  0.003572  1678477814486                          8.228                           0.000   8.228
2023-03-10 20:50:28.124000+01:00  0.003571  0.003571  0.003571  0.003571  1678477828124                          0.256                           0.000   0.256
2023-03-10 20:50:28.128000+01:00  0.003571  0.003571  0.003570  0.003570  1678477828128                          0.712                           0.000   0.712
2023-03-10 20:50:33.127000+01:00  0.003570  0.003570  0.003570  0.003570  1678477833127                          1.832                           0.000   1.832
2023-03-10 20:50:35.144000+01:00  0.003569  0.003570  0.003569  0.003570  1678477835144                          0.056                           3.794   3.850
...                                    ...       ...       ...       ...            ...                            ...                             ...     ...
2023-03-17 19:27:42.894000+01:00  0.003092  0.003092  0.003092  0.003092  1679077662894                          1.506                           0.750   2.256
2023-03-17 19:27:48.434000+01:00  0.003092  0.003092  0.003091  0.003092  1679077668434                          1.166                           0.520   1.686
2023-03-17 19:28:00.459000+01:00  0.003092  0.003093  0.003092  0.003093  1679077680459                          0.607                           6.223   6.830
2023-03-17 19:28:11.779000+01:00  0.003093  0.003093  0.003092  0.003093  1679077691779                          4.644                           0.605   5.249
2023-03-17 19:28:54.935000+01:00  0.003093  0.003093  0.003093  0.003093  1679077734935                          0.000                           1.231   1.231

[90503 rows x 8 columns]

In [16]:
# handlers.plotting.candles_ta(data=tb, candles_ta_height_ratio=0.8, vol_up_color='rgba(38, 171, 40,100)', vol_down_color='rgba(233, 56, 18, 100)')

# Volume Bars

In [17]:
vb = volume_bars(trades, threshold=6)
vb

                                      Open      High       Low     Close      Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume
Timestamp
2023-03-10 20:50:14.486000+01:00  0.003572  0.003572  0.003572  0.003572  1678477814486                          7.904                           0.000   7.904
2023-03-10 20:50:19.358000+01:00  0.003572  0.003572  0.003569  0.003570  1678477819358                          3.180                           3.794   6.974
2023-03-10 20:51:15.191000+01:00  0.003571  0.003572  0.003571  0.003572  1678477875191                          4.194                           1.980   6.174
2023-03-10 20:51:20.569000+01:00  0.003572  0.003572  0.003572  0.003572  1678477880569                          0.000                           7.044   7.044
2023-03-10 20:51:20.661000+01:00  0.003572  0.003573  0.003571  0.003573  1678477880661                          4.892                           3.129   8.021
...                                    ...       ...       ...       ...            ...                            ...                             ...     ...
2023-03-17 19:27:41.936000+01:00  0.003092  0.003092  0.003092  0.003092  1679077661936                         10.015                           0.000  10.015
2023-03-17 19:27:42.671000+01:00  0.003092  0.003092  0.003092  0.003092  1679077662671                          2.432                           3.665   6.097
2023-03-17 19:27:48.434000+01:00  0.003091  0.003092  0.003091  0.003092  1679077668434                          0.240                           6.743   6.983
2023-03-17 19:28:07.403000+01:00  0.003093  0.003093  0.003092  0.003093  1679077687403                          5.251                           0.828   6.079
2023-03-17 19:29:13.970000+01:00  0.003093  0.003093  0.003093  0.003093  1679077753970                          0.000                           1.008   1.008

[90149 rows x 8 columns]

In [18]:
# handlers.plotting.candles_ta(data=vb, candles_ta_height_ratio=0.8, vol_up_color='rgba(38, 171, 40,100)', vol_down_color='rgba(233, 56, 18, 100)')

# Dollar Bars

In [19]:
db = dollar_bars(trades, threshold=0.02)
db

Added quote by product.

                                      Open      High       Low     Close      Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume  Volume quote
Timestamp
2023-03-10 20:50:14.486000+01:00  0.003572  0.003572  0.003572  0.003572  1678477814486                          7.904                           0.000   7.904      0.028233
2023-03-10 20:50:19.358000+01:00  0.003572  0.003572  0.003569  0.003570  1678477819358                          3.180                           3.794   6.974      0.024897
2023-03-10 20:51:15.191000+01:00  0.003571  0.003572  0.003571  0.003572  1678477875191                          4.194                           1.680   5.874      0.020982
2023-03-10 20:51:20.495000+01:00  0.003572  0.003572  0.003572  0.003572  1678477880495                          0.000                           7.344   7.344      0.026233
2023-03-10 20:51:20.661000+01:00  0.003572  0.003573  0.003571  0.003573  1678477880661                          4.892                           3.129   8.021      0.028659
...                                    ...       ...       ...       ...            ...                            ...                             ...     ...           ...
2023-03-17 19:26:16.825000+01:00  0.003093  0.003094  0.003092  0.003092  1679077576825                          6.368                           0.741   7.109      0.021981
2023-03-17 19:27:41.936000+01:00  0.003092  0.003092  0.003092  0.003092  1679077661936                         10.015                           0.000  10.015      0.030966
2023-03-17 19:27:42.671000+01:00  0.003092  0.003092  0.003091  0.003092  1679077662671                          2.672                           4.185   6.857      0.021202
2023-03-17 19:28:00.459000+01:00  0.003092  0.003093  0.003092  0.003093  1679077680459                          0.607                           6.223   6.830      0.021125
2023-03-17 19:28:11.779000+01:00  0.003093  0.003093  0.003092  0.003093  1679077691779                          4.644                           1.836   6.480      0.020043

[90389 rows x 9 columns]

In [20]:
# handlers.plotting.candles_ta(data=db, candles_ta_height_ratio=0.8, vol_up_color='rgba(38, 171, 40,100)', vol_down_color='rgba(233, 56, 18, 100)')

In [21]:
# trades

# Exercise 2.1.b

Stability of daily count of tick bars, volume bars, and dollar bars.

## Tick bars weekley standard deviation

In [22]:
print(len(tb))
tb['date'] = tb.index

90503

In [23]:
tb2 = tb.resample('D', on='date').count().reset_index().sort_values(by='date')
tb2

                       date   Open   High    Low  Close  Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume
0 2023-03-10 00:00:00+01:00    947    947    947    947        947                            947                             947     947
1 2023-03-11 00:00:00+01:00  20622  20622  20622  20622      20622                          20622                           20622   20622
2 2023-03-12 00:00:00+01:00  12301  12301  12301  12301      12301                          12301                           12301   12301
3 2023-03-13 00:00:00+01:00  18307  18307  18307  18307      18307                          18307                           18307   18307
4 2023-03-14 00:00:00+01:00  13404  13404  13404  13404      13404                          13404                           13404   13404
5 2023-03-15 00:00:00+01:00  10829  10829  10829  10829      10829                          10829                           10829   10829
6 2023-03-16 00:00:00+01:00   7536   7536   7536   7536       7536                           7536                            7536    7536
7 2023-03-17 00:00:00+01:00   6557   6557   6557   6557       6557                           6557                            6557    6557

In [24]:
tb2['Volume'].std()

6386.318175544162

## Volume bars std

In [25]:
print(len(vb))
vb['date'] = vb.index

90149

In [26]:
vb2 = vb.resample('D', on='date').count().reset_index().sort_values(by='date')
vb2

                       date   Open   High    Low  Close  Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume
0 2023-03-10 00:00:00+01:00    771    771    771    771        771                            771                             771     771
1 2023-03-11 00:00:00+01:00  20052  20052  20052  20052      20052                          20052                           20052   20052
2 2023-03-12 00:00:00+01:00  11941  11941  11941  11941      11941                          11941                           11941   11941
3 2023-03-13 00:00:00+01:00  17710  17710  17710  17710      17710                          17710                           17710   17710
4 2023-03-14 00:00:00+01:00  14616  14616  14616  14616      14616                          14616                           14616   14616
5 2023-03-15 00:00:00+01:00  11392  11392  11392  11392      11392                          11392                           11392   11392
6 2023-03-16 00:00:00+01:00   7089   7089   7089   7089       7089                           7089                            7089    7089
7 2023-03-17 00:00:00+01:00   6578   6578   6578   6578       6578                           6578                            6578    6578

In [27]:
vb2['Volume'].std()

6324.358531842238

## Dollar bars std

In [28]:
print(len(db))
db['date'] = db.index

90389

In [29]:
db2 = db.resample('D', on='date').count().reset_index().sort_values(by='date')
db2

                       date   Open   High    Low  Close  Timestamp  Quantity Buyer was maker True  Quantity Buyer was maker False  Volume  Volume quote
0 2023-03-10 00:00:00+01:00    798    798    798    798        798                            798                             798     798           798
1 2023-03-11 00:00:00+01:00  20320  20320  20320  20320      20320                          20320                           20320   20320         20320
2 2023-03-12 00:00:00+01:00  12052  12052  12052  12052      12052                          12052                           12052   12052         12052
3 2023-03-13 00:00:00+01:00  18055  18055  18055  18055      18055                          18055                           18055   18055         18055
4 2023-03-14 00:00:00+01:00  14633  14633  14633  14633      14633                          14633                           14633   14633         14633
5 2023-03-15 00:00:00+01:00  11284  11284  11284  11284      11284                          11284                           11284   11284         11284
6 2023-03-16 00:00:00+01:00   6898   6898   6898   6898       6898                           6898                            6898    6898          6898
7 2023-03-17 00:00:00+01:00   6349   6349   6349   6349       6349                           6349                            6349    6349          6349

In [30]:
db2['Volume'].std()

6468.02098100449

# Exercise 2.1.c
Serial correlation of returns.

In [31]:
def autocorrelation_coefficient_(data: pd.DataFrame):
    """
    Check serial correlation of return.
    """ 
    df = data.copy(deep=True)
    
    # calculate the returns
    df['Return'] = df['Close'].pct_change()

    corr = df['Return'].autocorr()
    
    print(f"Correlation: {corr}")

In [32]:
autocorrelation_coefficient(tb)

-0.12683115114738874

In [33]:
autocorrelation_coefficient(vb)  # best

-0.17324047361305078

In [34]:
autocorrelation_coefficient(db)

-0.20299255957896425

# Exercise 2.1.d
Compute variance of returns for every bar type. Compute the variance of those variances. In hourly basis.

In [35]:
def compute_variances_(data: pd.DataFrame):
    """
    Hourly resampled bars variance and variance of variances.
    """
    
    df = data.copy(deep=True)

    # calculate the returns
    df['Return'] = df['Close'].pct_change()

    # group the data by hour and calculate the variance of returns for each hour
    hourly_returns = df['Return'].groupby(pd.Grouper(freq='H')).var()

    # calculate the variance of the hourly variances
    hourly_variances = hourly_returns.var()

    return hourly_returns, hourly_variances

In [36]:
compute_variances(tb)

(Timestamp
 2023-03-10 20:00:00+01:00    6.830135e-08
 2023-03-10 21:00:00+01:00    6.516349e-08
 2023-03-10 22:00:00+01:00    7.183176e-08
 2023-03-10 23:00:00+01:00    9.154471e-08
 2023-03-11 00:00:00+01:00    7.969901e-08
                                  ...
 2023-03-17 15:00:00+01:00    1.198078e-07
 2023-03-17 16:00:00+01:00    2.287864e-07
 2023-03-17 17:00:00+01:00    9.184760e-08
 2023-03-17 18:00:00+01:00    1.139831e-07
 2023-03-17 19:00:00+01:00    8.596677e-08
 Freq: H, Name: Return, Length: 168, dtype: float64,
 2.0863315565651386e-13)

In [37]:
compute_variances(vb)  # best

(Timestamp
 2023-03-10 20:00:00+01:00    1.586576e-07
 2023-03-10 21:00:00+01:00    7.448996e-08
 2023-03-10 22:00:00+01:00    9.106088e-08
 2023-03-10 23:00:00+01:00    1.346940e-07
 2023-03-11 00:00:00+01:00    9.377904e-08
                                  ...
 2023-03-17 15:00:00+01:00    1.102305e-07
 2023-03-17 16:00:00+01:00    3.234808e-07
 2023-03-17 17:00:00+01:00    1.100155e-07
 2023-03-17 18:00:00+01:00    1.250547e-07
 2023-03-17 19:00:00+01:00    1.045934e-07
 Freq: H, Name: Return, Length: 168, dtype: float64,
 4.342677377888728e-13)

In [38]:
compute_variances(db)

(Timestamp
 2023-03-10 20:00:00+01:00    1.638876e-07
 2023-03-10 21:00:00+01:00    7.298710e-08
 2023-03-10 22:00:00+01:00    8.912575e-08
 2023-03-10 23:00:00+01:00    1.358421e-07
 2023-03-11 00:00:00+01:00    8.711549e-08
                                  ...
 2023-03-17 15:00:00+01:00    1.154846e-07
 2023-03-17 16:00:00+01:00    3.012607e-07
 2023-03-17 17:00:00+01:00    1.176860e-07
 2023-03-17 18:00:00+01:00    1.208497e-07
 2023-03-17 19:00:00+01:00    1.125318e-07
 Freq: H, Name: Return, Length: 168, dtype: float64,
 6.06171478242039e-13)

# Exercise 2.1.e
Compute variance of returns for every bar type. Compute the variance of those variances. In hourly basis.

In [39]:
from scipy.stats import jarque_bera

def jarque_bera_test_(data):
    
    df = data.copy(deep=True)

    # calculate the returns
    df['Return'] = df['Close'].pct_change()

    # drop the first row, which will have a NaN return
    df = df.dropna()

    # perform the Jarque-Bera test on the returns
    test = jarque_bera(df['Return'])
    return test

In [40]:
jarque_bera_test(tb)

SignificanceResult(statistic=5547649326.638077, pvalue=0.0)

In [41]:
jarque_bera_test(vb)  # best

SignificanceResult(statistic=8146537060.230773, pvalue=0.0)

In [42]:
jarque_bera_test(db)

SignificanceResult(statistic=9982062144.816906, pvalue=0.0)

# Ideas for modeling:
## New Features
- Timedelta between trades.

- Relative size for each class.

- Integer sizes.

- UTC time.

- Classify by size, giving a percentage according to the total of each type.

- Model by market profile levels.

- Sectorize by extremes.

- Count distance to each extreme.

## With OrderBook
- Model by order book levels.
## To predict
- stance to the next extreme.

###